.ism {
    text-align: center;
    background-color: #b6ab18;
    color: #152c2d;
}
body {
    background-color: #152c2d;
}
.hush {
    text-align: center;
    color: #b6ab18;;
}
.as {
    margin-left: 1300px;
    color: #b6ab18;
}
.df {
    text-align: center;
    color:#b6ab18 ;
}